{% if form.vars.errors|length > 0 %}
<div class="alert alert-error">
    <strong>Uwaga!</strong><a class="close" data-dismiss="alert" href="#">&times;</a>
    {{ form_errors(form) }}
</div>
{%endif %}

<form
    action="{{ path("_filter_new",{"listname": listname}) }}"
    class="form form-horizontal"
    method="POST"
    id="filterForm"
    data-get-filter-url="{{ path("_filter_get",{name: "__name__"}) }}"
    >
{{ form_row(form.addFilter) }}

    <span class="subfilters"></span>

{{ form_row(form.save) }}
{{ form_row(form.name) }}
{{ form_row(form.pinned) }}
{{ form_row(form.filter) }}

{{form_rest(form)}}
</form>

{% block modal %}
<div class="hidden" id="ui-editFilterData">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% block modalTitle %}Filtrowanie wyników{%endblock modalTitle%}</h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary pull-right" id="useFilter">Zastosuj</a>
    </div>
</div>
{% endblock modal %}

{% block javascript %}
{% javascripts
    '@FiltersBundle/Resources/public/coffee/filter.coffee'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $(function() {
        modal.setupFromNode("div#ui-editFilterData");
        modal.setModalWindowClass("addFilterModal");

        window.filter = new Filter();
    });
</script>
{% endblock javascript %}