<tr>
    <td class="profileColumn">
        {% include "MembersBundle:Default:_member_column.html.twig" with {"member" : entity.getMember() } %}
    </td>
    <td>
        {{ entity.getCreated()|date("d.m.y") }} <sup>{{ entity.getCreated()|date("H:i") }}</sup>
    </td>
    <td>
        <div class="badge badge-success">{{ entity.getActivity().getName() }}</div>
    </td>
    <td>
        <div class="badge badge-warning">
        {{ entity.getEntryType() }}
        </div>
    </td>
    <td class="actionColumn">
        <div class="btn-group">
            {# <a class="btn btn-mini addEntrance" href="{{ path("_entrance_add", {"id" : entity.getMember().getId() }) }}"><span class="icomoon-icon-signup "></span> Edytuj</a> #}
            <a class="btn btn-mini removeEntry" href="{{ path("_entry_delete", {id: entity.getId()}) }}"><span class="icomoon-icon-signup "></span> Usuń</a>
        </div>
    </td>
</tr>