{% extends "ListsBundle::_abstract_list.html.twig" %}
{% block body_class %}entriesList{% endblock %}
{% block buttonHeading %}{% endblock %}

{% block headingTitle %}Wejścia{% endblock %}

{% block listTitle %}Lista wejść{% endblock%}
{% block listTableId %}entriesList{% endblock %}
{% block listTableAttr %}data-ajax-source="{{ path("_list_entries_datasource", {_format: "json"}) }}"{% endblock %}
{% block listThead %}
<tr>
    <th>Uczestnik</th>
    <th>Data i godzina</th>
    <th>Zajęcia</th>
    <th>Płatność</th>
    <th>Akcje</th>
</tr>
{% endblock %}

{% block listHeaderRightToolbox %}
{% block filterButton %}
<div class="pull-left">
    <a id="filterModalButton" href="{{ path("_filter_new",{"listname" : "entries"}) }}" class="btn btn-link openUrlInModal">
        <span class="icon16 icomoon-icon-cog-2"></span><span class="icon16 caret"></span>
    </a>
</div>
{% endblock filterButton %}
{% endblock %}

{% block listTabs %}{% include "FiltersBundle:Default:_tabs.html.twig" with {"filter": filter, "listname" :listname} %}{% endblock listTabs %}

{% block listTbody %}{% endblock %}

{# javascripts #}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@ListsBundle/Resources/public/coffee/entries.list.coffee'
        '@LayoutBundle/Resources/public/plugins/forms/select2/select2.min.js'
     %}

<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{# CSS #}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
        'bundles/layout/plugins/forms/select2/select2.css'
        'bundles/layout/plugins/forms/select2/select2-bootstrap.css'
        filter="cssrewrite"
    %}

<link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock stylesheets %}