<form
    id="entranceForm"
    class="form-horizontal row-fluid"
    action="{% block action %}{{ path('_entrance_add', {"id" : member.id}) }}{% endblock action %}"
    method="{% block method %}post{% endblock method %}"
    {{ form_enctype(form) }}>

    <div class="span12">    
        {{ form_row(form.activity,{"label" : "Zajęcia"}) }}
        
        {{ form_row(form.entryType,{"label" : "Rodzaj wejścia"}) }}
        
    </div>
    <div class="hidden">
    {{ form_rest(form) }}
    </div>

</form>