<form
    id="entranceForm"
    class="form-horizontal row-fluid"
    action="{% block action %}{{ path('_entrance_add', {"id" : member.id}) }}{% endblock action %}"
    method="{% block method %}post{% endblock method %}"
    {{ form_enctype(form) }}>

    <div class="span12">    
        {{ form_row(form.entryDate,{"label" : "Data i godzina wejścia", "value" : "now"|date("d.m.Y H:i")}) }}
        {{ form_row(form.activity,{"label" : "Zajęcia"}) }}
        {% if form.entry_type is defined %}
        {{ form_row(form.entry_type,{"label" : "Rodzaj wejścia"}) }}
        {% endif %}
    </div>
    <div class="hidden">
    {{ form_rest(form) }}
    </div>

</form>