{% if voucher is null %}
<div class="alert alert-error">
    <strong>Uwaga!</strong>
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    Uczestnik nie posiada wykupionego karnetu!<br />
    <a href="{{ path("_voucher_new", {"id" : member.id})}}" class="openUrlInModal" data-dismiss="modal">Kliknij tu, by sprzedać karnet.</a>
</div>
{% elseif voucher.getAmount() is null %}
<div class="alert alert-info">
    <strong>Informacja</strong>
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    Uczestnik posiada karnet OPEN.
</div>
{% elseif voucher.getAmountLeft() == 0 %}
<div class="alert alert-error">
    <strong>Uwaga!</strong>
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    Uczestnik wykorzystał już wszystkie wejścia z posiadanego karnetu!
    <a href="{{ path("_voucher_new", {"id" : member.id})}}" class="openUrlInModal" data-dismiss="modal">Kliknij tu, by sprzedać nowy karnet.</a>
</div>
{% endif %}

{% if form.vars.errors|length > 0 %}
<div class="alert alert-error">
    <strong>Uwaga!</strong><a class="close" data-dismiss="alert" href="#">&times;</a>
    {{ form_errors(form) }}
</div>
{%endif %}


<form
    id="entranceForm"
    class="form-horizontal row-fluid"
    action="{% block action %}{{ path('_entrance_add', {"id" : member.id}) }}{% endblock action %}"
    method="{% block method %}post{% endblock method %}"
    {{ form_enctype(form) }}>

    {{ form_row(form.entryType,{"label" : "Rodzaj"}) }}
    {{ form_row(form.entryPrice,{"label" : "Cena (PLN)"}) }}
    {{ form_row(form.activity,{"label" : "Zajęcia"}) }}

    <div class="hidden">
    {{ form_rest(form) }}
    </div>

</form>

{% if currentEvents|length > 0 %}
<div class="alert">
    <strong>Trwające właśnie zajęcia:</strong>

    {% for i,event in currentEvents %}
     {{ event.getActivity().getName() }}
    ({{ event.getStartHour() }} - {{ event.getEndHour() }})
    {{ i == currentEvents|length - 1 ? "" : ", " }}
    {% endfor %}
</div>
{% endif %}

{% block modal %}
<div class="hidden" id="ui-editEntryData">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% block modalTitle %}Dodaj wejście dla {{ member.getName() }}{%endblock modalTitle%}</h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary pull-right" id="saveFormInModal">Dodaj wejście</a>
    </div>
</div>
{% endblock modal %}


{% block javascript %}
{% javascripts
    '@EntriesBundle/Resources/public/coffee/entries.editEntry.coffee'
    '@DefaultBundle/Resources/public/js/jquery.ui.widget.js'
    '@DefaultBundle/Resources/public/js/jquery.ui.spinner.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $(function() {

        modal.setupFromNode("div#ui-editEntryData");
        modal.setModalWindowClass("editEntryModal");

        window.editEntryModal = new EditEntry();

        return;
    });
</script>
{% endblock javascript %}

