<ul class="bigBtnIcon">
    <li>
        <a class="tipB" href="{{ path("_dashboard") }}" oldtitle="Dashboard" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-equalizer-2"></span>
            <span class="txt">Dashboard</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="{{ path("_list_members") }}" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Członkowie</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="{{ path("_schedule_calendar") }}" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Harmonogram</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="{{ path("_vouchers_list") }}" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Karnety</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="{{ path("_list_entries") }}" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Wejścia</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
</ul>
<ul class="bigBtnIcon">
    <li>
        <a class="tipB" href="#" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Analityka</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="#" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Pracownicy</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="#" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Filie i sekcje</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="#" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">Płatności</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
    <li>
        <a class="tipB" href="#" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-21">
            <span class="icon icomoon-icon-users"></span>
            <span class="txt">...</span>
                                    {# <span class="notification">5</span> #}
        </a>
    </li>
</ul>