<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Timesheet - Rio Grappling Club{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' /> <!-- Headings -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' /> <!-- Text -->
        <!--[if lt IE 9]>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
        <![endif]-->

        {% spaceless %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {# <link rel="stylesheet" href="{{ asset('css/supr.css') }}"> #}
        {% block stylesheets %}

        {% stylesheets
            '@DefaultBundle/Resources/public/less/main.less'
            filter='less,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
            'bundles/layout/plugins/misc/qtip/jquery.qtip.css'
            'bundles/layout/plugins/misc/fullcalendar/fullcalendar.css'
            'bundles/layout/plugins/misc/search/tipuesearch.css'
            'bundles/layout/plugins/forms/uniform/uniform.default.css'
            'bundles/layout/css/supr-theme/jquery-ui-timepicker-addon.css'
            'bundles/layout/css/supr-theme/jquery.ui.autocomplete.css'
            'bundles/layout/css/supr-theme/jquery.ui.combobox.css'
            'bundles/layout/css/supr-theme/jquery.ui.core.css'
            'bundles/layout/css/supr-theme/jquery.ui.datepicker.css'
            'bundles/layout/css/supr-theme/jquery.ui.dialog.css'
            'bundles/layout/css/supr-theme/jquery.ui.progressbar.css'
            'bundles/layout/css/supr-theme/jquery.ui.resizable.css'
            'bundles/layout/css/supr-theme/jquery.ui.slider.css'
            'bundles/layout/css/supr-theme/jquery.ui.spinner.css'
            'bundles/layout/css/supr-theme/jquery.ui.theme.css'
            'bundles/layout/css/supr-theme/jquery.ui.tooltip.css'
            'bundles/layout/css/supr-theme/jquery.pnotify.default.css'
            'bundles/layout/css/main.css'
            'bundles/layout/css/custom.css'
            'bundles/layout/css/ie8.css'
            'bundles/layout/css/icons.css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        {% endspaceless %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="qLoverlay"></div>
        <div id="qLbar"></div>

        {{ include("_navigation.html.twig") }}

        <div id="header">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a href="{{ path("_members_list") }}" class="brand">RGC</a>
                        <div class="nav-no-collapse">
                            <ul class="nav pull-right usernav">
                                <li><a href="#" class="openNavigation"><span class="icon16 icomoon-icon-exit"></span><span class="txt"> Otwórz menu</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /navbar-inner -->
            </div>
        </div><!-- end header -->
        <div id="wrapper">
            <!--Body content-->
            <div id="content" class="clearfix">
                <div class="contentwrapper"><!--Content wrapper-->
                    {% block body %}{% endblock %}
                </div><!-- End contentwrapper -->
            </div><!-- End #content -->
        </div><!-- end wrapper -->


        <script  type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script  type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        {# <script src="{{ asset('js/supr.js') }}"></script> #}
        {% block javascripts %}
        {% javascripts
                '@LayoutBundle/Resources/public/js/jquery-migrate-1.2.1.min.js'
                '@LayoutBundle/Resources/public/plugins/forms/placeholder/jquery.placeholder.min.js'
                '@LayoutBundle/Resources/public/js/libs/excanvas.min.js'
                '@LayoutBundle/Resources/public/js/libs/jRespond.min.js'
                '@LayoutBundle/Resources/public/js/libs/respond.min.js'
                '@LayoutBundle/Resources/public/js/libs/modernizr.js'
                '@LayoutBundle/Resources/public/js/jquery.blockUI.js'
                '@LayoutBundle/Resources/public/js/libs/jquery.knob.js'
                '@LayoutBundle/Resources/public/plugins/misc/fullcalendar/fullcalendar.min.js'
                '@LayoutBundle/Resources/public/plugins/misc/qtip/jquery.qtip.min.js'
                '@LayoutBundle/Resources/public/plugins/misc/totop/jquery.ui.totop.min.js'
                '@LayoutBundle/Resources/public/plugins/forms/uniform/jquery.uniform.min.js'
                '@LayoutBundle/Resources/public/js/supr-theme/jquery-ui-1.8.22.custom.min.js'
                '@LayoutBundle/Resources/public/js/supr-theme/jquery-ui-sliderAccess.js'
                '@LayoutBundle/Resources/public/js/supr-theme/jquery-ui-timepicker-addon.js'
                '@LayoutBundle/Resources/public/js/libs/jquery.pnotify.min.js'
                '@DefaultBundle/Resources/public/coffee/main.coffee'
                '@DefaultBundle/Resources/public/coffee/helpers.coffee'
                '@DefaultBundle/Resources/public/coffee/keyboardTyping.coffee'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% if app.session.flashbag.has('notice') %}
        <script>
            {% for flashMessage in app.session.flashbag.get('notice') %}
            $.pnotify({
                title: 'Uwaga!',
                text: '{{ flashMessage|e('js') }}',
                icon: false,
                opacity: 0.95,
                sticker: false,
                history: false
            });
        {% endfor %}
        </script>
        {% endif %}

        <script>
            $(function() {
                $.blockUI.defaults = {
                    message: '<img src="/bundles/layout/images/loaders/circular/072.gif" alt="loading"/>',
                    css: {
                        border: 'none',
                        backgroundColor: 'transparent',
                    },
                    overlayCSS: {
                        backgroundColor: '#E8EAEB',
                        textAlign: "center",
                    }
                };

                $("#qLoverlay,#qLbar").fadeOut(750);

                $(document).on("click", "a.openNavigation", function(e) {
                    e.preventDefault();
                    $("#overlayNavigation").fadeIn();
                });

                $(document).on("click", "#overlayNavigation, #closeOverlayNavigation", function() {
                    $("#overlayNavigation").fadeOut();
                });
            });
        </script>

        {% endblock javascripts %}

    </body>
</html>
