{% extends "DefaultBundle:List:_abstract_list.html.twig" %}
{% block body_class %}entriesList{% endblock %}
{% block buttonHeading %}{% endblock %}

{% block headingTitle %}Wejścia <small>(tylko odczyt)</small>{% endblock %}

{% block listTitle %}Lista wejść{% endblock%}
{% block listTableId %}entriesList{% endblock %}
{% block listThead %}
<tr>
    <th>Uczestnik</th>
    <th>Data i godzina</th>
    <th>Zajęcia</th>
    <th>Płatność</th>
    {# <th>Akcje</th> #}
</tr>
{% endblock %}

{% block listTbody %}              
{% for entry in entries %}
<tr>
    <td class="profileColumn">
        {% include "MembersBundle:List:_member_column.html.twig" with {"member" : entry.getMember() } %}
    </td>
    <td>
        {{ entry.getCreated()|date("d.m.y") }} <sup>{{ entry.getCreated()|date("H:i") }}</sup>
    </td>
    <td>
        <div class="badge badge-success">{{ entry.getActivity().getName() }}</div>
    </td>
    <td>
        <div class="badge badge-warning">
        {{ entry.getEntryType() }}
        </div>
    </td>
{#
    <td class="actionColumn">
        <div class="btn-group">
            <a class="btn btn-mini addEntrance" href="{{ path("_entrance_add", {"id" : entry.getMember().getId() }) }}"><span class="icomoon-icon-signup "></span> Edytuj</a>
            <a class="btn btn-mini addEntrance" href=""><span class="icomoon-icon-signup "></span> Usuń</a>
        </div>
    </td>
#}
</tr>
{% endfor %}
{% endblock %}

{% block body %}
{{ parent() }}

{% include 'MembersBundle::_memberModal.html.twig' %}
{% include 'MembersBundle::_entranceModal.html.twig' %}
{% endblock body %}

{# javascripts #}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@LayoutBundle/Resources/public/plugins/forms/select2/select2.min.js'
        '@MembersBundle/Resources/public/coffee/members.list.coffee'
        '@DefaultBundle/Resources/public/js/jquery.ui.widget.js'
        '@DefaultBundle/Resources/public/js/jquery.iframe-transport.js'
        '@DefaultBundle/Resources/public/js/jquery.fileupload.js'
        '@DefaultBundle/Resources/public/js/jquery.ui.spinner.js'
     %}

<script src="{{ asset_url }}"></script>

    {% endjavascripts %}

<script>
    $(function() {
        $("table#entriesList").dataTable();
    });
</script>
{% endblock javascripts %}

{# CSS #}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
        'bundles/layout/plugins/forms/select2/select2.css'
        'bundles/layout/plugins/forms/select2/select2-bootstrap.css'
        filter="cssrewrite"
    %}

<link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock stylesheets %}