{% extends "DefaultBundle:List:_abstract_list.html.twig" %}

{% block body_class %}vouchersList{% endblock %}

{% block headingTitle %}Karnety <small>(tylko odczyt)</small>{% endblock %}
{% block buttonHeading %}{% endblock %}

{#
{% block buttonPath %}{% endblock %}
{% block buttonClasses %}createNewVoucher{% endblock %}
{% block buttonLabel %}Nowy karnet{% endblock %}
#}

{% block listHeaderFilter %}
                {# TODO unlock for filter
                <button id="filterModalButton" data-target="#filterModal" role="button" data-toggle="modal" class="btn btn-link pull-left">
                    <span class="icon16 icomoon-icon-cog-2"></span><span class="caret"></span>
                </button>
                #}
{% endblock %}

{% block listTitle %}Lista karnetów{% endblock%}
{% block listTableId %}vouchersList{% endblock %}
{% block listThead %}
<tr>
    <th>Właściciel</th>
    <th>Okres ważności</th>
    <th>Wejść</th>
    <th>Data sprzedaży</th>
    <th>Cena</th>
    <th>Aktywności</th>
    <th>Akcje</th> 
</tr>
{% endblock %}

{% block listTbody %}              
    {% for voucher in vouchers %}
<tr>
    <td class="profileColumn">
        {% include "MembersBundle:List:_member_column.html.twig" with {"member" : voucher.getMember() } %}
    </td>
    <td>
        {{ voucher.getStartDate()|date("d.m.y") }} - {{ voucher.getEndDate()|date("d.m.y") }}
    </td>
    <td>
        <div class="badge badge-warning">
        {% if voucher.getAmount() is not null %}
        {{ voucher.getAmountLeft() }}/{{ voucher.getAmount() }}
        {% else %}
            open
        {% endif %}
        </div>
    </td>
    <td>
        {{ voucher.getCreated()|date("d.m.y") }}
        <sup>{{ voucher.getCreated()|date("H:i") }}</sup>
    </td>
    <td>
        {{ voucher.getPrice() }} zł
    </td>
    <td>
        {% for i,activity in voucher.getActivities() %}
        <div class="badge badge-success">{{ activity.getName() }}</div><br />
        {% endfor %}
    </td>
    <td class="actionColumn">
        <div class="btn-group">
            <a class="btn btn-mini openUrlInModal" href="{{ path("_voucher_edit", {"id" : voucher.getId() }) }}"><span class="icomoon-icon-file "></span> Edytuj</a>
            <a class="btn btn-mini openUrlInModal" href="{{ path("_entrance_add", {"id" : voucher.getMember().getId() }) }}"><span class="icomoon-icon-signup "></span> Wejście</a>
            <a class="btn btn-mini openUrlInModal" href=""><span class="icomoon-icon-exit"></span> Usuń</a>
        </div>
    </td>
</tr>
    {% endfor %}
{% endblock %}


{# javascripts #}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@VouchersBundle/Resources/public/coffee/vouchers.list.coffee'
        '@LayoutBundle/Resources/public/plugins/forms/select2/select2.min.js'
        '@DefaultBundle/Resources/public/js/jquery.ui.widget.js'
        '@DefaultBundle/Resources/public/js/jquery.ui.spinner.js'
     %}

<script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock javascripts %}

{# CSS #}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
        'bundles/layout/plugins/forms/select2/select2.css'
        'bundles/layout/plugins/forms/select2/select2-bootstrap.css'
        '@VouchersBundle/Resources/public/less/vouchers-list.less'
        filter="cssrewrite"
    %}

<link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock stylesheets %}