{% extends "base.html.twig" %}

{% block body_class %}dashboard{% endblock %}

{% block body %}

<div class="heading">

    <h3>Pulpit nawigatora</h3>                    

</div><!-- End .heading-->

<div class="form-row row-fluid">
    <div class="span12">
        {% include "_navigation_items.html.twig" %}
    </div>
</div>

<div class="form-row row-fluid">

    {% if filters|length > 0 %}
    <div class="box span6">
        <div class="title"><h4><span>Filtry uczestników</span></h4></div>
        <div class="content">
            <ul class="bigBtnIcon">
                {% for filter in filters if filter.listname == "members" %}
                <li>
                    <a class="tipB" href="{{ path("_filter_set",{id: filter.getId(), listname : "members"}) }}">
                        <span class="icon icomoon-icon-stats-up"></span>
                        {# <span class="notification">5</span> #}
                    </a>
                    <div>{{ filter.getName() }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if events|length > 0 %}
    <div class="span6">
        <div class="reminder">
            <h4>Zajęcia dzisiaj ({{ "now"|date("l") }}):
                <a class="icon tip" href="{{ path("_schedule_calendar") }}" oldtitle="Configure" title="" data-hasqtip="true"><span class="icon16 icomoon-icon-cog-2"></span></a>
            </h4>
            <ul>
                {% for event in events %}
                <li class="clearfix">
                    <span class="number">{{ event.getStartHour() }} - {{ event.getEndHour() }}</span> 
                    <span class="txt">{{ event.getActivity().getName() }}</span>
                    {# <a class="btn btn-warning" href="#">15 osób</a> #}
                </li>               
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    "@DashboardBundle/Resources/public/coffee/dashboard.coffee"
 %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}