<table cellpadding="0" cellspacing="0" border="0" class="dynamicTable display table table-bordered" width="100%" id="sellsTable">
    <thead>
        <tr>
            <th>Data</th>
            <th>Parametry</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        {% for voucher in member.getVouchers() %}
        <tr class="{% if voucher == member.getCurrentVoucher() %}error strong{% endif%}">
            <td>{{ voucher.getCreated()|date("d.m.y H:i") }}</td>
            <td>
                {{ voucher.getStartDate()|date("d.m") }} - {% if voucher.getEndDate() is not null %}{{ voucher.getEndDate()|date("d.m") }}{% endif %}
                ({{ voucher.getAmount() is not null ? voucher.getAmount() ~ " wejść" : "open" }})
            <td>{{ voucher.getPrice() }} zł</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
