<form id="memberForm" class="form-horizontal row-fluid" action="{% block action %}{{ path('_member_edit', {"id" : member.id}) }}{% endblock action %}" method="{% block method %}post{% endblock method %}" {{ form_enctype(form) }} {% if member.id is not null %}data-delete-action="{{ path("_member_delete", {id : member.id})}}{% endif %}">
    <div class="span6">    
        {{ form_row(form.name,{"label" : "Imię i nazwisko"}) }}
        {{ form_row(form.birthdate,{"label" : "Data urodzin"}) }}
        {{ form_row(form.zipcode,{"label" : "Kod pocztowy"}) }}
        {{ form_row(form.phone,{"label" : "Numer telefonu"}) }}
        {{ form_row(form.email,{"label" : "Adres email"}) }}
        {{ form_row(form.notes,{"label" : "Notatki"}) }}
    </div>
    <div class="span6">  
        <div class="control-group">
            <label class="control-label">Zdjęcie</label>
            <div class="controls">
                <img src="{% if member.foto is null or member.foto is not defined or member.foto == '' %}http://placehold.it/200x240{% else %}/uploads/gallery/{{ member.foto }}{% endif %}" class="thumbnail" id="memberFoto"/>
            </div>
        </div>

        {{ form_row(form.fotoUploader) }}

        <div class="control-group hidden hideForNewMember">
            {% if isNew is not defined %}
            <div class="box">

                <div class="title">

                    <h4>
                        <span class="icon16 icomoon-icon-equalizer-2"></span>
                        <span>Informacje</span>
                    </h4>

                </div>
                <div class="content">
                    <ul>
                        <li>
                            <strong>Obecny karnet: </strong>
                        {% if voucher is defined and voucher is not null %}
                            <div style="text-align: center">
                            {{ member|progressbar("dzień","dni")|raw }}
                            </div>
                        {% else %}
                            brak
                        {% endif %}
                        </li>
                        {% if member.getLastEntry is not null %}
                        <li><strong>Ostatnie wejście: </strong>
                        {{ member.getLastEntry().getActivity().getName()}} ({{ member.getLastEntry().getEntryDate()|date("d.m.Y H:i") }})
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="btn-group">
                <a class="btn addEntrance" href="{{ path("_entrance_add", {"id" : member.id}) }}"><span class="icomoon-icon-signup "></span> Dodaj wejście</a>

                {% if voucher is defined and voucher is null %}
                <a href="{{ path("_voucher_new", {"id" : member.id})}}" class="btn newVoucher"><span class="icomoon-icon-clock"></span> Nowy karnet</a>
                {% endif %}
                {# <a href="#" class="btn"><span class="icomoon-icon-cart-3"></span> Sprzedaż towaru</a> #}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="hidden">
    {{ form_rest(form) }}
    </div>
</form>