{% extends "DefaultBundle:List:_abstract_list.html.twig" %}

{% block body_class %}membersList{% endblock %}

{% block headingTitle %}Członkowie klubu{% endblock %}
{% block buttonPath %}{{path("_member_new")}}{% endblock %}
{% block buttonClasses %}createNewMember{% endblock %}
{% block buttonLabel %}Nowa osoba{% endblock %}

{% block listHeaderRightToolbox %}
<div class="pull-right" id="chooseMembersListForm">
    <a class="icomoon-icon-list green pull-left"  href="{{ path("_members_list") }}"></a>
    <a class="icomoon-icon-grid green pull-left" href="{{ path("_members_gallery") }}"></a>
</div>
{% endblock %}

{% block listHeaderFilter %}
<button id="filterModalButton" data-remote="{{ path("_members_filter") }}" data-target="#filterModal" role="button" data-toggle="modal" class="btn btn-link pull-left">
    <span class="icon16 icomoon-icon-cog-2"></span><span class="caret"></span>
</button>
{% endblock %}

{% block listTitle %}Lista osób{% endblock%}
{% block listTableId %}membersList{% endblock %}
{% block listTableClass %}table table-bordered{% endblock %}
{% block listTableAttr %}data-ajax-source="{{ path("_members_list", {_format: "json"}) }}"{% endblock %}
{% block listThead %}
<tr>
    <th class="beltColor"></th>
    <th>Imię i nazwisko</th>
    <th>Ost. wizyta</th>
    <th>Karnet</th>
    <th>Akcje</th>
</tr>
{% endblock %}
                
{% block listTbody %}
{#
{% for member in members %}
    {% include 'MembersBundle:List:_list_tr.html.twig' with {"member" : member} %}
{% endfor %}
#}
{% endblock %}


{% block body %}
    {{ parent() }}
{% endblock body %}

{# javascripts #}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@MembersBundle/Resources/public/coffee/members.list.coffee'
        '@LayoutBundle/Resources/public/plugins/forms/select2/select2.min.js'
        '@DefaultBundle/Resources/public/js/jquery.ui.widget.js'
        '@DefaultBundle/Resources/public/js/jquery.iframe-transport.js'
        '@DefaultBundle/Resources/public/js/jquery.fileupload.js'
        '@DefaultBundle/Resources/public/js/jquery.ui.spinner.js'
     %}

<script src="{{ asset_url }}"></script>
    {% endjavascripts %}   
{% endblock javascripts %}

{# CSS #}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
        'bundles/layout/plugins/forms/select2/select2.css'
        'bundles/layout/plugins/forms/select2/select2-bootstrap.css'
        '@MembersBundle/Resources/public/less/members-list.less'
        filter="cssrewrite"
    %}

<link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock stylesheets %}