<tr>
    <td class="profileColumn">
        {% include "MembersBundle:Default:_member_column.html.twig" with {"member" : entity.getMember() } %}
    </td>
    <td>
        {{ entity.getStartDate()|date("d.m.y") }} - {{ entity.getEndDate()|date("d.m.y") }}
    </td>
    <td>
        <div class="badge badge-warning">
        {% if entity.getAmount() is not null %}
        {{ entity.getAmountLeft() }}/{{ entity.getAmount() }}
        {% else %}
            open
        {% endif %}
        </div>
    </td>
    <td>
        {{ entity.getCreated()|date("d.m.y") }}
        <sup>{{ entity.getCreated()|date("H:i") }}</sup>
    </td>
    <td>
        {{ entity.getPrice() }} zł
    </td>
    <td class="actionColumn">
        <div class="btn-group">
            <a class="btn btn-mini openUrlInModal" href="{{ path("_voucher_edit", {"id" : entity.getId() }) }}"><span class="icomoon-icon-file "></span> Edytuj</a>
            <a class="btn btn-mini removeVoucher" href="{{ path("_voucher_remove", {"id" : entity.getId() }) }}"><span class="icomoon-icon-exit"></span> Usuń</a>
        </div>
    </td>
</tr>