{% extends "ListsBundle::_abstract_list.html.twig" %}

{% block body_class %}vouchersList{% endblock %}

{% block headingTitle %}Karnety{% endblock %}
{% block buttonHeading %}{% endblock %}


{% block toolbarButtons %}
<div class="btn-group toolbarButton pull-right">
    <a href="{{path("_report_download",{listname:"vouchers"})}}" class="btn">
        <span class="icon16 icomoon-icon-equalizer-2"></span>
        CSV
    </a>
    <a href="{{path("_report_download",{listname:"vouchers",_format: "html"})}}" class="btn">
        <span class="icon16 icomoon-icon-equalizer-2"></span>
        HTML
    </a>
    {#
    <a href="{{path("_report_download",{listname:"vouchers",_format: "pdf"})}}" class="btn">
        <span class="icon16 icon-pencil"></span>
        PDF
    </a>
    <a href="{{path("_report_download",{listname:"vouchers",_format: "xml"})}}" class="btn">
        <span class="icon16 icon-tags"></span>
        XML
    </a>
    #}
</div>
{% endblock toolbarButtons%}

{% block listHeaderRightToolbox %}
{% block filterButton %}
<div class="pull-left">
    <a id="filterModalButton" href="{{ path("_filter_new",{"listname" : "vouchers"}) }}" class="btn btn-link openUrlInModal">
        <span class="icon16 icomoon-icon-cog-2"></span><span class="icon16 caret"></span>
    </a>
</div>
{% endblock filterButton %}
{% endblock %}

{% block listTabs %}{% include "FiltersBundle:Default:_tabs.html.twig" with {"filter": filter, "listname" :listname} %}{% endblock listTabs %}

{% block listHeaderFilter %}
                {# TODO unlock for filter
                <button id="filterModalButton" data-target="#filterModal" role="button" data-toggle="modal" class="btn btn-link pull-left">
                    <span class="icon16 icomoon-icon-cog-2"></span><span class="caret"></span>
                </button>
                #}
{% endblock %}

{% block listTitle %}Lista karnetów{% endblock%}
{% block listTableId %}vouchersList{% endblock %}
{% block listTableAttr %}data-ajax-source="{{ path("_list_vouchers_datasource", {_format: "json"}) }}"{% endblock %}
{% block listThead %}
<tr>
    <th>Właściciel</th>
    <th>Okres ważności</th>
    <th>Wejść</th>
    <th>Data sprzedaży</th>
    <th>Cena</th>
    <th>Akcje</th> 
</tr>
{% endblock %}

{% block listTbody %}{% endblock %}
