<form id="voucherForm" class="form-horizontal row-fluid" action="{% block action %}{{ path('_voucher_new', {"id" : member.id}) }}{% endblock action %}" method="{% block method %}post{% endblock method %}" {{ form_enctype(form) }} {% if voucher.id is not null %}data-delete-action="{{ path("_voucher_delete", {id : voucher.id})}}{% endif %}">
    <div class="span12">    
        {{ form_row(form.barcode,{"label" : "Kod karnetu", "attr" : {"placeholder" : "kod karnetu"}}) }}
        {{ form_row(form.startDate,{"label" : "Data rozpoczęcia", "attr" : {"placeholder" : "wybierz datę"}}) }}
        {{ form_row(form.endDate,{"label" : "Data zakończenia", "attr" : {"placeholder" : "wybierz datę"}}) }}
        {{ form_row(form.price,{"label" : "Cena (PLN)", "attr" : {"placeholder" : "podaj cenę"}}) }}
        {{ form_row(form.amount,{"label" : "Ilość wejść", "attr" : {"placeholder" : "podaj liczbę"}}) }}
        {{ form_row(form.activities,{"label" : "Grupy"}) }}
    </div>
    <div class="hidden">
    {{ form_rest(form) }}
    </div>
</form>