<ul class="nav nav-tabs pattern" id="filterTabs">{% spaceless %}
    <li{% if filter is null %} class="active"{% endif %}><a href="{{ path("_filter_reset",{listname: listname}) }}"><span class="filterName">Wszystkie</span></a></li>

    {% if starred is not defined or starred != false %}
    <li><a href="{{ path("_filter_starred", {listname: listname}) }}"><span class="icon16 icomoon-icon-star-3"></span></a></li>
    {% endif %}

    {% for filterItem in filters if filters|length > 0 %}
    <li{% if filter is not null and filter.getId() == filterItem.getId() %} class="active"{% endif %}>
        <a href="{{ path("_filter_set",{id: filterItem.getId(), listname : listname}) }}"><span class="filterName">{{ filterItem.getName() }}</span>
            <span class="delete-filter" data-href="{{ path("_filter_delete",{id:filterItem.getId(),listname: listname}) }}">x</span>
        </a>
    </li>
    {% endfor %}

    <li class="hidden template">
        <a href="{{ path("_filter_set",{id: "__FILTERID__", listname : listname}) }}"><span class="filterName">__FILTERNAME__</span><span class="delete-filter" data-href="{{ path("_filter_delete",{id:"__FILTERID__", listname: listname}) }}">x</span></a>
    </li>
{% endspaceless %}</ul>