<table cellpadding="0" cellspacing="0" border="0" class="dynamicTable display table table-bordered" width="100%" id="sellsTable">
    <thead>
        <tr>
            {# <th>Dzień i godzina</th> #}
            <th>Okres ważności</th>
            <th>Wejścia</th>
            <th>Zajęcia</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        {% for voucher in member.getVouchers() %}
        <tr class="{% if voucher == member.getCurrentVoucher() %}error strong{% endif%}">
            {# <td>{ voucher.getCreated()|date("d.m.y (l) H:i") } </td>#}
            <td>{{ voucher.getStartDate()|date("d.m.y") }} - {% if voucher.getEndDate() is not null %}{{ voucher.getEndDate()|date("d.m.y") }}{% endif %}</td>
            <td>{{ voucher.getAmount() }}</td>
            <td><small>{% for activity in voucher.getActivities() %}{{activity.getName()}}, {%endfor%}</small></td>
            <td>{{ voucher.getPrice() }} zł</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
$(function(){
    $("table#sellsTable").dataTable();
});
</script>